<section>
  <h1>Projects</h1>
  <ul id="projects">
	  <li class='projects'><a href='/bashhelp'>Bash help</a></li>
	  <li class='projects'><a href='/antservo'>Antenna servo</a></li>
	  <li class='projects'><a href='/atschjoo'>ATschjoo</a></li>
	  <li class='projects'><a href='/gengraph'>Gengraph</a></li>
	  <li class='projects'><a href='/globalme'>Global-me</a></li>
	  <li class='projects'><a href='/nimbox'>NIM and Squeezebox</a></li>
	  <li class='projects'><a href='/pakgrep'>Pakgrep</a></li>
	  <li class='projects'><a href='/umlfs'>UML FS</a></li>
	  <li class='projects'><a href='/wolfparser'>Wolfparser</a></li>
  </ul>
</section>
